<html>
  <body>
    <%= yield %>
        

  

    <h1>Message from: <%= @msg.name %> <%= @msg.email %></h1>
    <p>
      <%= @msg.subject %><br>
    </p>
    <p><%= @msg.content %><br>
    </p>
</body>
</html>
